bwce_edison.cpq.api/Service Descriptors/CreateCartService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/CreateCartService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreateCartService" targetNamespace="http://www.tibco.com/CreateCartService/" xmlns:xsd1="http://www.example.org/CreateCartInput" xmlns:xsd2="http://www.example.org/CreateCartOutput">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/CreateCartService/">
      <xsd:element name="createCart">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCartResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/CreateCartInput"
    		schemaLocation="../Schemas/main/CreateCartInput.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/CreateCartOutput"
    		schemaLocation="../Schemas/main/CreateCartOutput.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="createCartRequest">
    <wsdl:part element="xsd1:Input" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createCartResponse">
    <wsdl:part element="xsd2:Output" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CreateCartService">
    <wsdl:operation name="createCart">
      <wsdl:input message="tns:createCartRequest"/>
      <wsdl:output message="tns:createCartResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateCartServiceSOAP" type="tns:CreateCartService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createCart">
      <soap:operation soapAction="http://www.tibco.com/CreateCartService/createCart"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateCartService">
    <wsdl:port binding="tns:CreateCartServiceSOAP" name="CreateCartServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
