bwce_edison.cpq.api/Service Descriptors/DeleteCartItemService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/DeleteCartItemService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeleteCartItemService" targetNamespace="http://www.tibco.com/DeleteCartItemService/" xmlns:xsd1="http://www.example.org/DeleteCartItemInput" xmlns:xsd2="http://www.example.org/DeleteCartItemOutput">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/DeleteCartItemService/">
      <xsd:element name="deleteCartItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCartItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.example.org/DeleteCartItemInput"
    		schemaLocation="../Schemas/main/DeleteCartItemInput.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.example.org/DeleteCartItemOutput"
    		schemaLocation="../Schemas/main/DeleteCartItemOutput.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="deleteCartItemRequest">
    <wsdl:part element="xsd1:Input" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteCartItemResponse">
    <wsdl:part element="xsd2:Output" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="DeleteCartItemService">
    <wsdl:operation name="deleteCartItem">
      <wsdl:input message="tns:deleteCartItemRequest"/>
      <wsdl:output message="tns:deleteCartItemResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeleteCartItemServiceSOAP" type="tns:DeleteCartItemService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteCartItem">
      <soap:operation soapAction="http://www.tibco.com/DeleteCartItemService/deleteCartItem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeleteCartItemService">
    <wsdl:port binding="tns:DeleteCartItemServiceSOAP" name="DeleteCartItemServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
