bwce_edison.cpq.api/Service Descriptors/GetCatalogService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/GetCatalogService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetCatalogService" targetNamespace="http://www.tibco.com/GetCatalogService/" xmlns:xsd1="http://www.example.org/GetCatalogInput" xmlns:xsd2="http://www.example.org/GetCatalogOutput">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/GetCatalogService/">
      <xsd:element name="getCatalog">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCatalogResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/GetCatalogInput"
    		schemaLocation="../Schemas/main/GetCatalogInput.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/GetCatalogOutput"
    		schemaLocation="../Schemas/main/GetCatalogOutput.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="getCatalogRequest">
    <wsdl:part element="xsd1:Input" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCatalogResponse">
    <wsdl:part element="xsd2:Output" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetCatalogService">
    <wsdl:operation name="getCatalog">
      <wsdl:input message="tns:getCatalogRequest"/>
      <wsdl:output message="tns:getCatalogResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCatalogServiceSOAP" type="tns:GetCatalogService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCatalog">
      <soap:operation soapAction="http://www.tibco.com/GetCatalogService/getCatalog"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCatalogService">
    <wsdl:port binding="tns:GetCatalogServiceSOAP" name="GetCatalogServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
