bwce_edison.cpq.api/Service Descriptors/GetCartItemService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/GetCartItemService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetCartItemService" targetNamespace="http://www.tibco.com/GetCartItemService/" xmlns:xsd1="http://www.example.org/GetCartItemInput" xmlns:xsd2="http://www.example.org/GetCartItemOutput">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/GetCartItemService/">
      <xsd:element name="getCartItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCartItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/GetCartItemInput"
    		schemaLocation="../Schemas/main/GetCartItemInput.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/GetCartItemOutput"
    		schemaLocation="../Schemas/main/GetCartItemOutput.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="getCartItemRequest">
    <wsdl:part element="xsd1:Input" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCartItemResponse">
    <wsdl:part element="xsd2:Output" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetCartItemService">
    <wsdl:operation name="getCartItem">
      <wsdl:input message="tns:getCartItemRequest"/>
      <wsdl:output message="tns:getCartItemResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCartItemServiceSOAP" type="tns:GetCartItemService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCartItem">
      <soap:operation soapAction="http://www.tibco.com/GetCartItemService/getCartItem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCartItemService">
    <wsdl:port binding="tns:GetCartItemServiceSOAP" name="GetCartItemServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
