bwce_edison.cpq.api/Schemas/main/GetCatalogOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/GetCatalogOutput" xmlns:tns="http://www.example.org/GetCatalogOutput" elementFormDefault="qualified">
  <element name="Output">
    
    <complexType>
      
      <sequence>
        
       <element minOccurs="0" name="cartContextKey" type="string"/>
        
        <element maxOccurs="1" minOccurs="0" name="createCartAction">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rest">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="params">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="cartContextKey" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="link" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="method" type="string"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
        
        <element minOccurs="0" name="sessionKey" type="string"/>
        
        <element minOccurs="0" name="errorCode" type="string"/>
        
        <element minOccurs="0" name="error" type="string"/>
        
       <element maxOccurs="1" minOccurs="0" name="result">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="totals">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="EffectiveOneTimeTotal" type="double"/>
                  <element maxOccurs="1" minOccurs="0" name="EffectiveRecurringTotal" type="double"/>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="records">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="actions">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="deleteFromBasketAction">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="rest">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="params">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="basketAction" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="lineItemKey" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="bundleContextKey" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="link" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="method" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="updateBasketAction">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="rest">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="params">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="basketAction" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="lineItemKey" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="bundleContextKey" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="1" minOccurs="0" name="link" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="method" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="lineItemKey" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="bundleContextKey" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="attributeCategories">
                    <complexType>
                      <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="records">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="productAttributes">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="unbounded" minOccurs="0" name="records">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="isNotAssetizable" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="userValues" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="values">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="disabled" type="boolean"/>
                                                <element maxOccurs="1" minOccurs="0" name="readonly" type="boolean"/>
                                              </sequence>
                                            </complexType>
                                          </element>
                                          <element maxOccurs="1" minOccurs="0" name="isNotTranslatable" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="cloneable" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="hasRules" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="displaySequence" type="integer"/>
                                          <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="attributeId" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="filterable" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="disabled" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="readonly" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="required" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="multiselect" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="cacheable" type="boolean"/>
                                          <element maxOccurs="1" minOccurs="0" name="inputType" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                                          <element maxOccurs="1" minOccurs="0" name="code" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                                        </sequence>
                                      </complexType>
                                    </element>
                                    <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="totalSize" type="integer"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="id" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Code" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="displaySequence" type="integer"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="totalSize" type="integer"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="productCategories">
                    <complexType>
                      <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="totalSize" type="integer"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="pricingLogValue">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="SequentialDiscounts" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="SequentialPromotions" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="SequentialOffers" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="LastPricingTime" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="PriceAsOfDateTime" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="LogVersion" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="PricingVariableCodeBaseValues">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="OT_STD_PRC" type="double"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="PricingVariableCodeValues">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="DISP_OT_STD_PRC" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="ROLLUP_OT_STD_PRC_TOTAL" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="ROLLUP_REC_MNTH_STD_PRC_TOTAL" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="REC_MNTH_STD_PRC_DISC_PCT_MAN" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="OT_STD_PRC_DISC_PCT_MAN" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="EFFECTIVE_QUANTITY" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="LINE_QUANTITY" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="EFF_REC_MNTH_STD_PRC_TOTAL" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="REC_MNTH_STD_PRC_TOTAL" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="REC_MNTH_STD_PRC_CALC" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="REC_MNTH_STD_PRC" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="EFF_OT_STD_PRC_TOTAL" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="OT_STD_PRC_TOTAL" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="OT_STD_PRC_CALC" type="double"/>
                              <element maxOccurs="1" minOccurs="0" name="OT_STD_PRC" type="double"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" name="PriceAdjustmentPromoKeys" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="PricingVariableCodeFieldBinding">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringManualDiscount" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OneTimeManualDiscount" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__EffectiveQuantity" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Quantity" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__EffectiveRecurringTotal" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringTotal" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringCalculatedPrice" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringCharge" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__EffectiveOneTimeTotal" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OneTimeTotal" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OneTimeCalculatedPrice" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OneTimeCharge" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="LogData">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="REC_MNTH_STD_PRC_TOTAL">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="ChargeTiming" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="LogSequence" type="integer"/>
                                    <element maxOccurs="1" minOccurs="0" name="DisplayText" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="unbounded" minOccurs="0" name="REC_MNTH_STD_PRC_CALC">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="ChargeTiming" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="LogSequence" type="integer"/>
                                    <element maxOccurs="1" minOccurs="0" name="DisplayText" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="unbounded" minOccurs="0" name="OT_STD_PRC_TOTAL">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="ChargeTiming" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="LogSequence" type="integer"/>
                                    <element maxOccurs="1" minOccurs="0" name="DisplayText" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="unbounded" minOccurs="0" name="OT_STD_PRC_CALC">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="ChargeTiming" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="LogSequence" type="integer"/>
                                    <element maxOccurs="1" minOccurs="0" name="DisplayText" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="unbounded" minOccurs="0" name="OT_STD_PRC">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="LogSequence" type="integer"/>
                                    <element maxOccurs="1" minOccurs="0" name="IsEffective" type="boolean"/>
                                    <element maxOccurs="1" minOccurs="0" name="EndDate" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="StartDate" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="AdjustmentType" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="LoyaltyCode" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="CurrencyCode" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="CurrencyType" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="Amount" type="double"/>
                                    <element maxOccurs="1" minOccurs="0" name="AdjustmentValue" type="double"/>
                                    <element maxOccurs="1" minOccurs="0" name="AdjustmentMethod" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="BaseValue" type="double"/>
                                    <element maxOccurs="1" minOccurs="0" name="BaseAdjustment" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="PriceListId" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="OfferId" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="PromotionId" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="PricingElementId" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="PricingVariableCode" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="DisplayText" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="EndValue" type="double"/>
                                    <element maxOccurs="1" minOccurs="0" name="ChargeTiming" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="Frequency" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="SubType" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="StartValue" type="double"/>
                                    <element maxOccurs="1" minOccurs="0" name="PricingElementGlobalKey" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="LogType" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="PriceListEntryId" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__FulfilmentStatus">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__FirstVersionOrderItemId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SupersededOrderItemId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SupplementalAction">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OrderGroupId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__CatalogItemReferenceDateTime">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__CpqPricingMessage">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__CpqCardinalityMessage">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ItemName">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__BillingAccountId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ServiceAccountId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__CpqMessageData">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringDiscountPrice">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ParentItemId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__InCartQuantityMap">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SubAction">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RootItemId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringTotal">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringManualDiscount">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringCharge">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringCalculatedPrice">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ProvisioningStatus">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ProductHierarchyPath">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ProductHierarchyGroupKeyPath">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ProductGroupKey">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__Product2Id">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OneTimeTotal">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OneTimeManualDiscount">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OneTimeCharge">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__OneTimeCalculatedPrice">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__LineNumber">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__IsChangesAllowed">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="boolean"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__EffectiveRecurringTotal">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__EffectiveOneTimeTotal">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__CurrencyPaymentMode">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__AssetReferenceId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__Action">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="Quantity">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="PricebookEntryId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="OrderId">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="ListPrice">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="SellingPeriod" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="action" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="itemType" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="orderActive" type="boolean"/>
                  <element maxOccurs="1" minOccurs="0" name="hasChildren" type="boolean"/>
                  <element maxOccurs="1" minOccurs="0" name="lineNumber" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="SpecificationType" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="isVirtualItem" type="boolean"/>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="productHierarchyPath" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="productChildItemDefinition">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__Quantity" type="integer"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__IsVirtualItem" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__MaxQuantity" type="integer"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ParentProductId_r">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SellingEndDate" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__EndOfLifeDate" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Id" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__GlobalGroupKey" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SellingStartDate" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="attributes">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="url" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__MaximumChildItemQuantity" type="integer"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__IsRootProductChildItem" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SeqNumber" type="double"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__IsOverride" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ParentProductId" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__CollapseHierarchy" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__MinimumChildItemQuantity" type="integer"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__ChildLineNumber" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="Id" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__MinQuantity" type="integer"/>
                        <element maxOccurs="1" minOccurs="0" name="attributes">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="url" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="productChildItemId" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="sequenceNumber" type="double"/>
                  <element maxOccurs="1" minOccurs="0" name="groupMaxQuantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="groupMinQuantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="maxQuantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="minQuantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="defaultQuantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="productId" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="PricebookEntry">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="Product2">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__JSONAttribute" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__Type" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__IsConfigurable" type="boolean"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__GlobalGroupKey" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__AttributeMetadata" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__AttributeDefaultValues" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="ProductCode" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="Id" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="attributes">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="url" type="string"/>
                                    <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="Product2Id" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="Pricebook2Id" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="Id" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="attributes">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="url" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="Pricebook2Id" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__RecurringPrice" type="double"/>
                  <element maxOccurs="1" minOccurs="0" name="ProductCode" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="IsActive" type="boolean"/>
                  <element maxOccurs="1" minOccurs="0" name="Product2Id" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="Id">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="Product2">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__AttributeMetadata" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__AttributeDefaultValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SpecificationType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SellingEndDate" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__LifecycleStatus" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SubType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="ProductCode" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__Type" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__IsOrderable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__IsConfigurable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__EndOfLifeDate" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="IsActive" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="Id" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="Name" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__GlobalGroupKey" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="vlocity_cmt__SellingStartDate" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="attributes">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="url" type="string"/>
                              <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="UnitPrice">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="actions">
                          <complexType>
                            <sequence/>
                          </complexType>
                        </element>
                        <element maxOccurs="1" minOccurs="0" name="alternateValues" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="dataType" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="editable" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="fieldName" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="hidden" type="boolean"/>
                        <element maxOccurs="1" minOccurs="0" name="label" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="originalValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="previousValue" type="string"/>
                        <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element maxOccurs="1" minOccurs="0" name="displaySequence" type="integer"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="messages" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalSize" type="integer"/>
          </sequence>
        </complexType>
      </element>
        
      </sequence>
      
    </complexType>
    
  </element>
</schema>