bwce_edison.cpq.api/Schemas/subs/AddPromotionInputBody.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AddPromotionInputBody" xmlns:tns="http://www.example.org/AddPromotionInputBody" elementFormDefault="qualified">
  <element name="Input">     
    <complexType>            
      <sequence>               
        <element minOccurs="1" name="basketAction" type="string"/>      
		<element minOccurs="1" name="offer" type="string"/>
		<element minOccurs="0" name="validatebasket" type="string"/> 
		<element minOccurs="0" name="transactionKey " type="string"/> 		
      </sequence>          
    </complexType>     
  </element>
</schema>